<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fuels</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <th:block th:replace="~{fragments/header :: appHead}"></th:block>
    <link rel="stylesheet" href="/css/management.css">
</head>
<body>
<th:block th:replace="~{fragments/header :: appHeader}"></th:block>
<div class="container mgmt-container">
    <div class="mgmt-header">
        <h1 class="mgmt-title">Fuels</h1>
        <a href="/api/fuel/add" class="btn-mgmt-add">+ Add New</a>
    </div>
    <div class="table-responsive">
        <table class="table mgmt-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Station IDs</th>
                    <th>Contract IDs</th>
                    <th class="col-actions">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="fuel : ${fuels}">
                    <td class="col-id" th:text="${fuel.id}"></td>
                    <td th:text="${fuel.name}"></td>
                    <td th:text="${fuel.type}"></td>
                    <td th:text="${fuel.stationIds}"></td>
                    <td th:text="${fuel.contractIds}"></td>
                    <td class="col-actions">
                        <a th:href="@{/api/fuel/update/{id}(id=${fuel.id})}" class="btn-row-edit">Edit</a>
                        <form th:action="@{/api/fuel/delete/{id}(id=${station.id})}" method="post" class="d-inline">
                          <input type="hidden" name="_method" value="DELETE">
                          <button type="submit" class="btn-row-delete">Delete</button>
                        </form>
                    </td>
                </tr>
                <tr th:if="${#lists.isEmpty(fuels)}">
                    <td colspan="6" class="mgmt-empty">No fuels found.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
