<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <th:block th:replace="~{fragments/header :: appHead}"></th:block>
    <link rel="stylesheet" href="/css/management.css">
</head>
<body>
<th:block th:replace="~{fragments/header :: appHeader}"></th:block>
<div class="container mgmt-container">
    <div class="mgmt-header">
        <h1 class="mgmt-title">Employees</h1>
        <a href="/api/employee/add" class="btn-mgmt-add">+ Add New</a>
    </div>
    <div class="table-responsive">
        <table class="table mgmt-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Role</th>
                    <th>Date of Hire</th>
                    <th>Wage</th>
                    <th>ID Number</th>
                    <th>Station ID</th>
                    <th class="col-actions">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="employee : ${employees}">
                    <td class="col-id" th:text="${employee.id}"></td>
                    <td th:text="${employee.firstName}"></td>
                    <td th:text="${employee.lastName}"></td>
                    <td th:text="${employee.role}"></td>
                    <td th:text="${employee.dateOfHire}"></td>
                    <td th:text="${employee.wage}"></td>
                    <td th:text="${employee.identificationNumber}"></td>
<!--                    <td class="col-id" th:text="${employee.stationId}"></td>-->
                    <td class="col-actions">
                        <a th:href="@{/api/employee/update/{id}(id=${employee.id})}" class="btn-row-edit">Edit</a>
                        <form th:action="@{/api/employee/delete/{id}(id=${employee.id})}" method="post" class="d-inline">
                          <input type="hidden" name="_method" value="DELETE">
                          <button type="submit" class="btn-row-delete">Delete</button>
                        </form>
                    </td>
                </tr>
                <tr th:if="${#lists.isEmpty(employees)}">
                    <td colspan="9" class="mgmt-empty">No employees found.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
