<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fuel Supplies</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <th:block th:replace="~{fragments/header :: appHead}"></th:block>
    <link rel="stylesheet" href="/css/management.css">
</head>
<body>
<th:block th:replace="~{fragments/header :: appHeader}"></th:block>
<div class="container mgmt-container">
    <div class="mgmt-header">
        <h1 class="mgmt-title">Fuel Supplies</h1>
        <a href="/api/fuelSupply/add" class="btn-mgmt-add">+ Add New</a>
    </div>
    <div class="table-responsive">
        <table class="table mgmt-table">
            <thead>
                <tr>
                    <th>Station ID</th>
                    <th>Fuel ID</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Price Change</th>
                    <th class="col-actions">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="fs : ${fuelSupplies}">
                    <td class="col-id" th:text="${fs.id.stationId}"></td>
                    <td class="col-id" th:text="${fs.id.fuelId}"></td>
                    <td th:text="${fs.quantity}"></td>
                    <td th:text="${fs.price}"></td>
                    <td th:text="${fs.priceChange}"></td>
                    <td class="col-actions">
                        <a th:href="@{/api/fuelSupply/update(stationId=${fs.id.stationId},fuelId=${fs.id.fuelId})}"
                           class="btn-row-edit">Edit</a>
                    </td>
                </tr>
                <tr th:if="${#lists.isEmpty(fuelSupplies)}">
                    <td colspan="6" class="mgmt-empty">No fuel supplies found.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
